* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?cs=srgb&dl=pexels-johannes-plenio-1103970.jpg&fm=jpg');
}

.container {
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.7);
}

.container header {
    position: relative;
    font-size: 30px;
    font-weight: 600;
    color: #333;
}

.container header::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 4px;
    width: 37px;
    border-radius: 8px;
    background-color: #d1d1d1 ;
}

.container form {
    position: relative;
    margin-top: 16px;
    min-height: 450px; 

}

.container form .detalhes {
    margin-top: 30px;
}

.container form .informação {
    margin-top: 50px;
}

.container form .tittle {
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
    margin: 6px 0;
    color: #333;
}

.container form .campos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form .campos .input-campo {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 30px);
    margin: 10px 0;
}

.input-campo input {
    outline: none;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
    border-radius: 10px;
    border: 1px solid #aaa;
}

.input-campo input:is(:focus, :valid) {
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.input-campo label {
    font-size: 12px;
    font-weight: 600;
    color: #2e2e2e;
}

.container form button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: 1px solid #aaa;
    outline: none;
    border-radius: 5px;
    margin: 50px 0;
    transition: all 0.3s linear;
    cursor: pointer;
    background-color: rgb(226, 226, 226);
    margin-left: 40%;
}

form button:hover {
    background-color: rgb(180, 180, 180);
}

form button i {
    margin: 0 6px;
    margin-bottom: -3px;
}

.input-campo a {

    bottom: 10px;
    margin-left: 10px;
    font-size: 15px;
    visibility: hidden;
    
}

.input-campo.error input {
    border-color: #ff0404 ;
}

.input-campo.error a {
    color: #ff0404 ;
    visibility: visible;
}

footer {
    text-align: center;
}